<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="./convocatorias-participante-archivo.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">

<dom-module id="convocatorias-participantes">
    <template>
        <style include="bootstrap4-styles fontawesome-styles">
            :host {
                display: block;
                padding: 1rem;
            }

            paper-tabs {
                --paper-tabs-selection-bar-color: #2196F3;
            }

            paper-tab {
                --paper-tab-ink: #82B1FF;
            }

            .cont16 {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .cont32 {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
            }
        </style>
        <iron-ajax id="ajaxInternos" auto url="{{urlInternos}}" handle-as="JSON" last-response="{{jsonInternos}}" loading="{{loadingInternos}}"></iron-ajax>
        <iron-ajax id="ajaxExternos" auto url="{{urlExternos}}" handle-as="JSON" last-response="{{jsonExternos}}" loading="{{loadingExternos}}"></iron-ajax>

        <section>
            <div class="card border-info">
                <div class="card-header text-center bg-info text-white">
                    <span class="fa fa-users" aria-hidden="true"></span> Participantes
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Detalles</h5>
                    <paper-tabs selected="{{selectedTab}}">
                        <paper-tab active>
                            <span> Internos
                                <span class="badge badge-info">[[dataInternos.records]]</span>
                            </span>
                        </paper-tab>
                        <paper-tab>
                            <span>Externos
                                <span class="badge badge-info">[[dataExternos.records]]</span>
                            </span>
                        </paper-tab>
                    </paper-tabs>
                    <iron-pages selected="{{selectedTab}}">
                        <div>
                            <template is="dom-if" if="{{hasInternos}}">
                                <template is="dom-repeat" items="[[dataInternos.rows]]">
                                    <div class="cont16">
                                        <div class="card bg-light mb-3">
                                            <div class="card-header" data-index$="collapse_internos_[[index]]" on-click="_toggleCollapse">
                                                [[item.nombre]]
                                                <div class$="float-sm-right [[_isTipoTextColor(item.tipo)]]">[[item.descr_tipo]]</div>
                                            </div>
                                            <div class="card-body">
                                                <iron-collapse id$="collapse_internos_[[index]]" opened>
                                                    <!-- <div class="card-title">
                                                        Número de Identificación:
                                                        <span id="lb_nu" class$="[[_isTipoTextColor(item.tipo)]]">
                                                            <template is="dom-if" if="[[_isEmpleado(item.tipo)]]">
                                                                [[item.nue]]
                                                            </template>
                                                            <template is="dom-if" if="[[_isAlumno(item.tipo)]]">
                                                                [[item.nua]]
                                                            </template>
                                                        </span>
                                                    </div> -->
                                                    <p class="card-text">
                                                        <div class="cont16">
                                                            <div>
                                                                <label for="lb_campus" class="control-label" style="width:100%;">Campus: </label>
                                                                <span id="lb_campus" class="text-info" style="width:100%;">[[item.desc_campus]]</span>
                                                            </div>
                                                            <div>
                                                                <label for="lb_division" class="control-label" style="width:100%;">División: </label>
                                                                <span id="lb_division" class="text-info" style="width:100%;">[[item.desc_division]]</span>
                                                            </div>
                                                            <div>
                                                                <label for="lb_departamento" class="control-label" style="width:100%;">Departamento: </label>
                                                                <span id="lb_departamento" class="text-info" style="width:100%;">[[item.desc_departamento]]</span>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="cont16">
                                                            <div>
                                                                <convocatorias-participante-archivo id-responsable="{{idResponsable}}" is-interno id-registro="{{item.id}}" descr="Curriculum Vitae Único"></convocatorias-participante-archivo>
                                                            </div>
                                                            <div>
                                                                <convocatorias-participante-archivo id-responsable="{{idResponsable}}" is-interno id-registro="{{item.id}}" descr="Carta de Aceptación"></convocatorias-participante-archivo>
                                                            </div>
                                                        </div>
                                                    </p>
                                                </iron-collapse>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                            <template is="dom-if" if="[[!hasInternos]]">
                                <div class="alert alert-info text-center">
                                    No hay información de participantes internos
                                </div>
                            </template>
                        </div>
                        <div>
                            <template is="dom-if" if="[[hasExternos]]">
                                <template is="dom-repeat" items="[[dataExternos.rows]]">
                                    <div class="cont16">
                                        <div class="card bg-light mb-3">
                                            <div class="card-header" data-index$="collapse_externos_[[index]]" on-click="_toggleCollapse">
                                                [[item.nombre]]
                                            </div>
                                            <div class="card-body">
                                                <iron-collapse id$="collapse_externos_[[index]]" opened>
                                                    <h5 class="card-title">
                                                        Nivel sni:
                                                        <span id="lb_sni" class="text-secondary">[[item.nivel_sni]]</span>
                                                    </h5>
                                                    <p class="card-text">
                                                        <div class="cont32">
                                                            <div>
                                                                <label for="lb_institucion" class="control-label" style="width:100%;">Institución: </label>
                                                                <span id="lb_institucion" class="text-info" style="width:100%;">[[item.institucion]]</span>
                                                            </div>
                                                            <div>
                                                                <label for="lb_departamento" class="control-label" style="width:100%;">Departamento: </label>
                                                                <span id="lb_departamento" class="text-info" style="width:100%;">[[item.departamento]]</span>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="cont16">
                                                            <div>
                                                                <convocatorias-participante-archivo id-responsable="{{idResponsable}}" is-externo id-registro="{{item.id}}" descr="Curriculum Vitae Único"></convocatorias-participante-archivo>
                                                            </div>
                                                            <div>
                                                                <convocatorias-participante-archivo id-responsable="{{idResponsable}}" is-externo id-registro="{{item.id}}" descr="Carta de Aceptación"></convocatorias-participante-archivo>
                                                            </div>
                                                            <div>
                                                                <label for="lb_sni" class="control-label" style="width:100%;">Correo electrónico: </label>
                                                                <span id="lb_sni" class="text-info" style="width:100%;">[[item.correo_electronico]]</span>
                                                            </div>
                                                        </div>
                                                    </p>
                                                </iron-collapse>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                            <template is="dom-if" if="[[!hasExternos]]">
                                <div class="alert alert-info text-center">
                                    No hay información de participantes internos
                                </div>
                            </template>
                        </div>
                    </iron-pages>
                </div>
            </div>
        </section>
    </template>

    <script>
        /**
         * `convocatorias-participantes`
         * Detalle de los participantes de la convocatoria
         *
         */
        class ConvocatoriasParticipantes extends Polymer.Element {
            static get is() { return 'convocatorias-participantes'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    selectedTab: {
                        type: Number,
                        value: 0
                    },
                    urlInternos: {
                        type: String,
                        readOnly: true,
                        computed: '_urlInternosComputed(idResponsable)'
                    },
                    urlExternos: {
                        type: String,
                        readOnly: true,
                        computed: '_urlExternosComputed(idResponsable)'
                    },
                    hasInternos: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasInternosComputed(dataInternos)'
                    },
                    hasExternos: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasInternosComputed(dataExternos)'
                    },
                    jsonInternos: {
                        type: Array,
                        observer: '_jsonInternosObserver'
                    },
                    jsonExternos: {
                        type: Array,
                        observer: '_jsonExternosObserver'
                    },
                    dataInternos: {
                        type: Array,
                        readOnly: true
                    },
                    dataExternos: {
                        type: Array,
                        readOnly: true
                    }
                };
            }
            _urlInternosComputed(idResponsable) {
                if (idResponsable) {
                    // return `https://intraug.ugto.mx/Convocatoria/Participantes/DataParticipantes?id_responsable=${idResponsable}&tipo=1`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Participantes/DataParticipantes?id_responsable=${idResponsable}&tipo=1`;
                    return App.Config.apppath + `/Participantes/DataParticipantes?id_responsable=${idResponsable}&tipo=1`;
                }
            }
            _urlExternosComputed(idResponsable) {
                if (idResponsable) {
                    // return `https://intraug.ugto.mx/Convocatoria/Participantes/DataParticipantes?id_responsable=${idResponsable}&tipo=0`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Participantes/DataParticipantes?id_responsable=${idResponsable}&tipo=0`;
                    return App.Config.apppath + `/Participantes/DataParticipantes?id_responsable=${idResponsable}&tipo=0`;
                }
            }
            _hasInternosComputed(dataInternos) {
                if (dataInternos && dataInternos.records > 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            _hasExternosComputed(dataExternos) {
                if (dataExternos && dataExternos.records > 0) {
                    return true;
                }
                else {
                    return false;
                }
            }

            _jsonInternosObserver(jsonInternos) {
                if (jsonInternos) {
                    // console.log('_jsonInternosObserver', JSON.parse(jsonInternos));
                    this._setDataInternos(JSON.parse(jsonInternos));
                }
            }
            _jsonExternosObserver(jsonExternos) {
                if (jsonExternos) {
                    // console.log('_jsonExternosObserver', JSON.parse(jsonExternos));
                    this._setDataExternos(JSON.parse(jsonExternos));
                }
            }

            _toggleCollapse(e) {
                var collapseElem = this.shadowRoot.querySelector('#' + e.currentTarget.dataset.index);
                if (collapseElem) {
                    collapseElem.toggle();
                }
            }
            _isTipoTextColor(tipo) {
                if (tipo === '2') {
                    return 'text-success';
                }
                else {
                    return 'text-primary';
                }
            }
            _isEmpleado(tipo) {
                if (tipo === '2') {
                    return true;
                }
                else {
                    return false;
                }
            }
            _isAlumno(tipo) {
                if (tipo === '1') {
                    return true;
                }
                else {
                    return false;
                }
            }
        }

        window.customElements.define(ConvocatoriasParticipantes.is, ConvocatoriasParticipantes);
    </script>
</dom-module>