<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../ug-upload-file/ug-upload-file.html">

<dom-module id="convocatorias-participante-archivo">
    <template>
        <style>
            :host {
                display: block;
                padding: 1rem;
            }
        </style>
        <iron-ajax id="ajaxArchivo" auto url="{{urlArchivo}}" handle-as="JSON" last-response="{{jsonArchivo}}" loading="{{loadingArchivo}}"></iron-ajax>

        <section>
            <ug-upload-file descripcion="[[descr]]" id-responsable="[[idResponsable]]" id-servicio-intranet="103" uuid="[[dataArchivo.ID]]"
                id-ficha-archivo-r-a="[[dataArchivo.id_ficha_archivo_ra]]" nombre-archivo="[[dataArchivo.nombre_archivo]]" extension="[[dataArchivo.extension]]"></ug-upload-file>
        </section>
    </template>

    <script>
        /**
         * `convocatorias-participante-archivo`
         * Detalle del archivo de los participantes de la convocatoria
         *
         */
        class ConvocatoriasParticipanteArchivo extends Polymer.Element {
            static get is() { return 'convocatorias-participante-archivo'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    isInterno: {
                        type: Boolean
                    },
                    isExterno: {
                        type: Boolean
                    },
                    idRegistro: {
                        type: Number
                    },
                    descr: {
                        type: String
                    },
                    urlArchivo: {
                        type: String,
                        readOnly: true,
                        computed: '_urlArchivoComputed(idResponsable, isInterno, isExterno, idRegistro, descr)'
                    },
                    hasArchivo: {
                        type: Boolean,
                        value: false,
                        readOnly: true,
                        computed: '_hasArchivoComputed(dataArchivo)'
                    },
                    jsonArchivo: {
                        type: Array,
                        observer: '_jsonArchivoObserver'
                    },
                    dataArchivo: {
                        type: Array,
                        readOnly: true
                    }
                };
            }
            _urlArchivoComputed(idResponsable, isInterno, isExterno, idRegistro, descr) {
                if (idResponsable && idRegistro && descr && (isInterno || isExterno)) {
                    let is = '';
                    if (isInterno) {
                        is = 1;
                    }
                    else if (isExterno) {
                        is = 0;
                    }
                    // return `https://intraug.ugto.mx/Convocatoria/Participantes/DataParticipanteArchivos?id_responsable=${idResponsable}&is_interno=${is}&id_registro=${idRegistro}&descr=${descr}`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Participantes/DataParticipanteArchivos?id_responsable=${idResponsable}&is_interno=${is}&id_registro=${idRegistro}&descr=${descr}`;
                    return App.Config.apppath + `/Participantes/DataParticipanteArchivos?id_responsable=${idResponsable}&is_interno=${is}&id_registro=${idRegistro}&descr=${descr}`;
                }
            }
            _hasArchivoComputed(dataArchivo) {
                if (dataArchivo) {
                    return true;
                }
                else {
                    return false;
                }
            }
            _jsonArchivoObserver(jsonArchivo) {
                if (jsonArchivo) {
                    console.log('_jsonArchivoObserver', JSON.parse(jsonArchivo));
                    this._setDataArchivo(JSON.parse(jsonArchivo));
                }
            }
        }

        window.customElements.define(ConvocatoriasParticipanteArchivo.is, ConvocatoriasParticipanteArchivo);
    </script>
</dom-module>